<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55701912183-c2o7codroiubdodbvm8li5a758nacls7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55701912183-c2o7codroiubdodbvm8li5a758nacls7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55701912183-2hut04dh28spgqtks421fng9a40cc1st.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Ik-tKjpJ84064mXnsyUv5PIC96GkSu0</string>
	<key>GCM_SENDER_ID</key>
	<string>55701912183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workjeje</string>
	<key>PROJECT_ID</key>
	<string>workjeje-dcd73</string>
	<key>STORAGE_BUCKET</key>
	<string>workjeje-dcd73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55701912183:ios:0bd37291b85dfc0e8ba472</string>
</dict>
</plist>